.env
.env.*
!.env.example

node_modules/
dist/
build/
coverage/
tmp/
.cache/

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

apps/frontend-angular/.angular/
apps/frontend-angular/node_modules/
apps/frontend-angular/dist/

apps/backend-go/tmp/
apps/backend-go/bin/
